<h1>This is the Sessions New Page </h1>

Sign In

<%= form_tag sessions_path, method: "post" do %>
  <div>
    <%= email_field_tag :email, nil, placeholder: "Email" %>
  </div>
  <div>
    <%= password_field_tag :password, nil, placeholder: "Password" %>
  </div>
  <%= submit_tag "Sign In" %>
<% end %> 


<p>Not Registered?</p>
<%= link_to "Sign Up", client_stylist_path %>