

<div class ="align stlClP">


<%= form_for @client do |f| %>
  <div>
    <%= f.text_field :hair_goal, placeholder: "Hair goal" %>

  </div>
  <div>
    <%= f.text_field :last_salon_visit, placeholder: "Last Salon Visit" %>
  </div>
  <div>
    <%= f.text_field :service, placeholder: "Services Recieved" %>
  </div>
 <div>
    <%= f.text_field :allergies, placeholder: "Allergies " %>
  </div>
  <div>
    <%= f.text_field :birthday, placeholder: "Birthday" %>
  </div>
<div>
 <%= f.text_field :referred_by, placeholder: "Referred by" %>
  </div>

   <div>
    <%= f.text_field :headshot, placeholder: "Headshot" %>
  </div>
  <%= f.submit "Submit" %>
<% end %>
</div>
