


<h1>Clients SHOW page</h1>






<div id= "container">

<h1><%= @client.first_name %></h1>

  <div class="headShotContain ">

 <div class="box headshot"></div>

 <div class= "credits">

 <h2 class= "creditsh2">Credentials</h2>

  <p class ="creditsP"> Hair Goal: <%= @client.hair_goal %></p>
  <p class ="school creditsP"> Last Salon Visit: <%= @client.last_salon_visit%></p>

  <div class = "bookMe">

<a href="https://squareup.com/">BOOK ME</a>

</div>

 </div>

 <div class= "skillsID">

 <h2 class="skillsh2">Skills</h2>

  <p class ="skillsP"> Cut</p>
  <p class ="skillsP"> Updos</p>
  <p class ="skillsP">Makeup</p>
  <p class ="skillsP">Nail Design</p>

 </div>

 </div>


<div class ="bioContain">

<h2>About Me</h2>

<p>



<%= @client.bio %>
  
 <!--  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum quae, modi dolor deserunt aspernatur cum neque molestiae, eos officiis impedit possimus? Deleniti non laborum, eos aliquam impedit? Nemo doloremque, molestiae.

  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero natus modi inventore impedit vero porro pariatur ut illum quisquam consequatur, in dicta adipisci aliquam velit cupiditate quibusdam commodi rem corporis.

  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero natus modi inventore impedit vero porro pariatur ut illum quisquam consequatur, in dicta adipisci aliquam velit cupiditate quibusdam commodi rem corporis. -->
</p>


</div>

<div class="galleryContain">

<h2>Portfolio</h2>
<%= image_tag("img1.jpg", class: "galleryImg") %>
<%= image_tag("img2.jpg", class: "galleryImg") %>
<%= image_tag("img3.jpg", class: "galleryImg") %>

</div>



<p>Social media</p>
























</div>





<!-- #decorate this page the way you would want your homepage to be 
#search the pictures you put in your phone

#signin with a link to sign in
#two tabs client / Client

#icebox - video description of service 
#main picture a video of client at work  -->
