







<div id= "container">

<h1><%= @client.first_name %></h1>

  <div class="headShotContain ">

 <%= image_tag(@client.headshot,class: "box")  %>

 <div class= "credits">

 <h2 class= "creditsh2">Credentials</h2>

  <p class ="creditsP"> HAIR GOAL: <%= @client.hair_goal %></p>
  <p class ="school creditsP"> LAST SALON VISIT <%= @client.last_salon_visit%></p>

  

 </div>

 <div class= "skillsID">

 <h1 class="cardh2">CLIENT CARD</h1>

  <p class ="cardP"> EMAIL: <%= @client.email %></p>
  <p class ="cardP"> PHONE: <%= @client.phone %></p>
  <p class ="cardP">ALLERGIES: <%= @client.allergies %></p>
  <p class ="cardP">BIRTHDAY: <%= @client.birthday %></p>
  <p class ="cardP">REFERRED BY: <%= @client.referred_by %></p>


 </div>

 </div>





<%= @client.bio %>
  
 <!--  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum quae, modi dolor deserunt aspernatur cum neque molestiae, eos officiis impedit possimus? Deleniti non laborum, eos aliquam impedit? Nemo doloremque, molestiae.

  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero natus modi inventore impedit vero porro pariatur ut illum quisquam consequatur, in dicta adipisci aliquam velit cupiditate quibusdam commodi rem corporis.

  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero natus modi inventore impedit vero porro pariatur ut illum quisquam consequatur, in dicta adipisci aliquam velit cupiditate quibusdam commodi rem corporis. -->
</p>


</div>


























</div>





<!-- #decorate this page the way you would want your homepage to be 
#search the pictures you put in your phone

#signin with a link to sign in
#two tabs client / Client

#icebox - video description of service 
#main picture a video of client at work  -->
