<!DOCTYPE html>
<html>
<head>
  <title>EmpressedApp</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul>
  <li><%= link_to "HOME", root_path %></li>
  
 
  <li><a href="#skills">ABOUT US</a></li>
  <li><%= link_to "STYLIST", stylists_path %></li>

     <li><%= link_to "SKILLS", root_path %></li>

 
  <% if !current_user %>
      <li><%= link_to "LOGIN", new_session_path%></li>

<!--     <li><a href="#login">LOGIN</a></li>
 -->  <% else %>
    <li><%= link_to "LOGOUT", logout_path, method: :delete %></li>
  <% end %> 
  
  <li><%= link_to "LOCATION", location_path%></li>


  <li><a href="#contact">CONTACT US</a></li>
 </ul>
   
<div id= "container">

<%= yield %>

</div>

 <footer>
            <p class="footer cform">Copyrighted 2016. All rights reserved in Empressed.</a></p>
    </footer>


</body>
</html>
